.display_container {
  background-color: #d6d6d6;
  margin-bottom: 0;
}

.monthly_cost {
  background: linear-gradient(to right,#a100ff 30%,#460073 100%);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}

.term {
  font-size: 14px;
  font-weight: 200;
}