.calculations_container {
  margin: 30px;
  text-align: left;
}

.input_container {
  margin: 30px;
}

.input_label {
  display: block;
  margin: 10px 0;
}

.number_input {
  padding: 5px;
  width: 90%;
}

.term_length {
  width: 90%;
}

.btn-submit {
  background-color: #39C6F4;
  height: 40px;
  font-size: 14px;
  margin-top: 30px;
  width: 110px;
}

.error {
  color: red;
  font-size: 12px;
}