.banner_container {
  margin-bottom: 20px;
}

.company_image {
  height: 35px;
  margin: 20px 10px  0 20px;
  position: relative;
  top: 10px;
}

.greeting {
  display: inline;
  font-family: 'Google Noto Sans';
  font-size: 24px;
}