.pill {
  border: 1px solid #BB03FB;
  cursor: pointer;
  display: inline;
  padding: 10px 30px;
}

.pill_container {
  font-size: 14px;
  margin: 40px;
}

.mortgage_pill {
  border-radius: 18px 0 0 18px;
}

.affortability_pill {
  border-radius: 0 18px 18px 0;
}